<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/bulma/css/bulma-rtl.css">
    <link rel="stylesheet" href="../style/main.css">
    <title>حول الموقع</title>
</head>
<body>
    <header class="columns header">
        
            <div class="navbar-brand logo column is-2">
              <a class="navbar-item" href="#"> YogaOba</a> 
            </div>
        <nav class="nav column">
            <ul class="navlist">
                <li class=""><a href="" class="navlink">الرئيسية</a></li>
                <li class=""><a href="" class="navlink">كورسات</a></li>
                <li class=""><a href="" class="navlink">حول</a></li>
                <li class=""><a href="" class="navlink">تواصل معنا</a></li>
                
            </ul>
            <ul class="navlist">
                <li class=""><a href="" class="navlink button ">تسجيل دخول</a></li>
                <li class=""><a href="" class="navlink button ">تسجيل جديد</a></li>
            </ul>
            
        </nav>
        
    </header>
    <div class="">
            <img src="../img/main.jpg" alt="yoga center">
        </div>
</body>
</html>